// COLORS
$primary-color: #2D2B55;
$secondary-color: #4D21FC;
$morado-oscuro: #1E1E3F;
$morado-claro: #4D21FC;

$white-color: #FFFF;

$dark-grey: #333333;

$dark-blue-text: #1E1E3F; // For Headings

// FONT SIZE
$default-font-size: 2rem;
$big-font-size: 5rem;
$mid-font-size: 3rem;
