// COLORS
$primary-color: #2D2B55;
$secondary-color: #4D21FC;
$naranjo: #fb7324;

$white-color: #FFFF;

$dark-grey: #333333;

$dark-blue-text: #2c1c6b; // For Headings

// FONT SIZE
$default-font-size: 2rem;
$big-font-size: 5rem;
$mid-font-size: 3rem;
