// COLORS
$primary-color: #2D2B55;
$secondary-color: #FF9D00;

$white-color: #f9f7f6;

$dark-grey: #333333;

$dark-blue-text: #1E1E3F; // For Headings

// FONT SIZE
$default-font-size: 2rem;
$big-font-size: 5rem;
$mid-font-size: 3rem;
